.button {
  display: inline-block;
  border: 3px solid white;
  border-radius: 10px;
  background-color: rgba(34, 170, 153, .6);
  color: white;
  padding: 20px 20px;
  font-size: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(34, 170, 153, 1);
}

.button.blog {
  position: fixed;
  bottom: 20px;
  left: 50px;
  text-decoration: none;
  padding: 5px 20px;
}

.button.signup {
  width: 320px;
  margin: 20px auto 0;
  font-size: 2em;
}
