#empty {

}

#wrong {
  display: block;

}

#already {
}

.error {
  display: block;
  border: 0;
  margin: 5px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 1em;
  text-align: left;
  color: red;
  text-shadow: 0.5px 0.5px #333;
  font-style: italic;
  display: none;
}
