.error {
  display: block;
  border: 0;
  margin: 5px 0 0 0;
  padding: 0 0 0 10px;
  font-size: 0.9em;
  text-align: left;
  color: red;
  text-shadow: 1px 1px #333;
  font-style: italic;
  display: none;
}
