form {
  text-align: center;
  margin-bottom: 40px;
}

input[type=text] {
  width: 100%;
  font-size: 1.5em;
  border: 3px solid #22AA99;
  border-radius: 10px;
  padding: 0 10px;
  height: 50px;
  color: #333;
}

input[type=text].error {
  border-color: red;
}

@media (min-width: 600px) {
  form {
    width: 450px;
    margin: 10px auto 40px;
  }
}
