h1 {
  color: #ffffff;
	letter-spacing: -1px;
	font-weight: 700;
	line-height: 1;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	hyphens: none;
	word-wrap: break-word;
  text-align: center;
  font-size: 4em;
}
