.unsub {
  border: none;
  font-style: italic;
  font-size: 1em;
  margin: 0 10px;
}

.unsub a {
  color: #22AA99;
  text-decoration: none;
  cursor: pointer;
}

.unsub a:hover {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .unsub {
    font-size: 1.4em;
    margin: 0 auto;
  }
}
